# Ignore node_modules (not needed because EAS reinstalls dependencies)
node_modules

# Logs and temp files
*.log
*.tmp

# Build output
build/
dist/
web-build/

# Personal configs
.env.local
.DS_Store

# Test files
__tests__/
*.test.js
*.spec.js